# Virtual Environment
venv/
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local configuration
instance/
.webassets-cache

# Distribution / packaging
dist/
build/
*.egg-info/
